<div class="apointment text-whit -mx-16">
    <!-- top -->
    <div class="top h-[95vh] w-full bg-[url('./img/appointment.webp')] bg-cover">
      <div class="content flex flex-col items-center justify-end gap-3 h-full pb-20 text-white">
        <h4 class="text-2xl tracking-[0.7rem]">SCHEDULE AN APPOINTMENT</h4>
        <p>
          Click below to schedule a virtual or an in-store appointment at onc
          of our flagship stores.
        </p>
        <a href="#" class="bg-white text-black py-2 px-4 rounded tracking-widest my-4">Book Now</a>
      </div>
    </div>
    <!-- down -->
    <div class="down text-white flex bg-[#65350F] py-7 items-center justify-center gap-3">
      <h4 class="">Enter Into The World of EComfy</h4>
      <div class="inp border-b-white border-b-2 py-0.5">
        <input type="email" class="outline-none" placeholder="Enter your email here" />
        <i class="ri-send-plane-2-fill"></i>
      </div>
    </div>
  </div>