<!-- Footer -->
  <div class="footer -mx-16">
    <!-- links seciton -->
    <div class="flex justify-evenly gap-20 py-10">
      <div class="left flex items-start justify-evenly w-[80%]">
        <div class="foot flex flex-col">
          <h2 class="text-sm py-2.5">CUSTOMER CARE</h2>
          <ul class="text-xs flex flex-col gap-2">
            <li class="underline cursor-pointer">Orders & Shipment</li>
            <li class="underline cursor-pointer">Returns & Exchange</li>
            <li class="underline cursor-pointer">Contact Us</li>
            <li class="underline cursor-pointer">FAQs</li>
            <li class="underline cursor-pointer">Check Gift Card Balance</li>
          </ul>
        </div>
        <div class="foot flex flex-col">
          <h2 class="text-sm py-2.5">ABOUT US</h2>
          <ul class="text-xs flex flex-col gap-2">
            <li class="underline cursor-pointer">EComfy Foundation</li>
            <li class="underline cursor-pointer">Sustainability</li>
            <li class="underline cursor-pointer">Careers</li>
          </ul>
        </div>
        <div class="foot flex flex-col">
          <h2 class="text-sm py-2.5">CATEGORIES</h2>
          <ul class="text-xs flex flex-col gap-2">
            <li class="underline cursor-pointer">Women</li>
            <li class="underline cursor-pointer">Men</li>
            <li class="underline cursor-pointer">Wedding</li>
          </ul>
        </div>
        <div class="foot flex flex-col">
          <h2 class="text-sm py-2.5">LEGAL</h2>
          <ul class="text-xs flex flex-col gap-2">
            <li class="underline cursor-pointer">Corporate Information</li>
            <li class="underline cursor-pointer">Terms & Conditions</li>
            <li class="underline cursor-pointer">Privacy Policy</li>
            <li class="underline cursor-pointer">Cookie Policy</li>
            <li class="underline cursor-pointer">Shipping Policy</li>
          </ul>
        </div>
      </div>
      <div class="right w-[30%]">
        <h2 class="text-sm py-2.5">NEED HELP?</h2>
        <div class="flex items-center justify-start gap-2 text-sm">
          <i class="ri-map-pin-line text-xl"></i>
          <p>Store Locator</p>
        </div>
        <div class="flex items-center justify-start gap-2 text-sm">
          <i class="ri-mail-line text-xl"></i>
          <p>Email Us</p>
        </div>
        <div class="flex items-center justify-start gap-2 text-sm">
          <i class="ri-phone-line text-xl"></i>
          <p>Call Us</p>
        </div>
        <div class="flex items-center justify-start gap-2 text-sm">
          <i class="ri-mind-map text-xl"></i>
          <p>Sitemap</p>
        </div>
      </div>
    </div>
    <!-- copyright line -->
    <div class="flex items-center justify-between pt-10 pb-4 px-10">
      <h5 class="text-xs">
        &copy; 2024 House of Anita Dongre Private Limited. | All Rights
        Reserved.
      </h5>
      <div class="icons text-lg flex gap-3">
        <i class="ri-facebook-line"></i>
        <i class="ri-instagram-line"></i>
        <i class="ri-youtube-line"></i>
        <i class="ri-twitter-x-line"></i>
        <i class="ri-pinterest-fill"></i>
      </div>
    </div>
    <!-- terms and condition line -->
    <div class="text-center text-xs py-2">
      By continuing, I agree to AD
      <a href="" class="font-bold">Privacy Policy</a> and
      <a href="" class="font-bold"> Terms of use</a>
    </div>
  </div>