<div class="top flex justify-between py-3 border-b-[0.5px] border-[#EDF1FF]">
    <div class="left flex items-center gap-2">
      <span
        class="text-4xl font-bold text-[#65350F] border-[0.5px] border-[#EDF1FF] flex items-center justify-center w-14 h-14">E</span>
      <h2 class="text-4xl font-semibold">Comphy</h2>
    </div>

    <div class="middle w-[60vw] flex items-center justify-center">
      <input type="text" placeholder="Search for products"
        class="outline-0 border-[0.5px] tracking-normal border-[#EDF1FF] px-4 py-1.5 w-[75%]" />
      <i class="ri-search-2-line border-[0.5px] text-[#65350F] border-[#EDF1FF] px-4 py-1.5"></i>
    </div>

    <div class="right flex items-center gap-2">
      <div class="like flex items-center gap-2 text-lg border-[0.5px] border-[#EDF1FF] w-fit h-fit px-4 py-1">
        <i class="ri-heart-line text-[#65350F]"></i>
        <span class="text-sm">0</span>
      </div>
      <div class="cart flex items-center gap-2 text-lg border-[0.5px] border-[#EDF1FF] w-fit h-fit px-4 py-1">
        <i class="ri-shopping-cart-line text-[#65350F]"></i>
        <span class="text-sm">0</span>
      </div>
    </div>
  </div>