<div class="left w-[18vw] min-h-screen bg-[var(--color-primary)] p-4">
  <a href="/get-products" class="text-lg flex items-center gap-2 px-4 py-2 hover:bg-[var(--color-accent)] rounded-[var(--border-radius)] text-[var(--color-surface)]">
    <i class="ri-store-line"></i> <span>Product</span>
  </a>
    <a href="/get-sales" class="text-lg flex items-center gap-2 px-4 py-2 hover:bg-[var(--color-accent)] rounded-[var(--border-radius)] text-[var(--color-surface)]">
      <i class="ri-dashboard-line"></i> <span>Sale</span>
    </a>
    <a href="/get-category" class="text-lg flex items-center gap-2 px-4 py-2 hover:bg-[var(--color-accent)] rounded-[var(--border-radius)] text-[var(--color-surface)]">
      <i class="ri-book-shelf-line"></i> <span>Categories</span>
    </a>
    <a href="/get-orders" class="text-lg flex items-center gap-2 px-4 py-2 hover:bg-[var(--color-accent)] rounded-[var(--border-radius)] text-[var(--color-surface)]">
      <i class="ri-file-list-line"></i> <span>Order</span>
    </a>
  </div>